.wp-block-buttons.is-content-justification-center{
  display: flex;
}
.qpc-top-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 4;
  background: rgba(0, 0, 0, 0.8) url($images_dir + 'qpc-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.qpc-top.qpc-is-visible, .qpc-top.qpc-fade-out, .no-touch .qpc-top:hover {
  transition: opacity .3s 0s, visibility 0s 0s;
}

.qpc-top.qpc-is-visible {
  visibility: visible;
  opacity: 1;
}

.qpc-top.qpc-fade-out {
  opacity: .5;
}

.no-touch .qpc-top:hover {
  background-color: #e86256;
  opacity: 1;
}

// CTA BUTTON
.cta-button{
  border-radius: $raggio-1;
  font-family: $font_sans_serif_bold;
  transition: all 0.4s ease-in-out 0s;
  text-decoration: none;
  position: relative;
  &-underline{
    &:before{
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      height: 2px;
      background: $color_black;
      transition: .35s;
      }
      &:hover{
        &:before{
          width: 0%;
        }
      }
  }
  &-underline-reverse{
    &:before{
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 0%;
      transform: translateX(-50%);
      height: 2px;
      background: $color_white;
      transition: .35s;
      }
      &:hover{
        &:before{
          width: 100%;
        }
      }
  }
  &-white{
    background: $color_white;
    color: $text_color;
    &:hover{
      background: $text_color;
      color: $color_white;
    }
  }
  &-uppercase{
    text-transform: uppercase;
  }
  &-colored{
    background: $theme_color;
    color: $color_white;
    border-radius: $raggio-4;
    padding: 10px 20px;
    &:hover{
      background: $color_white;
      color: $theme_color;
      border: 1px solid $theme_color;
    }
  }
  &-outline{
    border: 1px solid $color_black;
    color: $color_black;
    text-align: center;
    padding: 10px 20px;
    &:hover{
      background: $color_black;
      color: $color_white;
      span{
        color: $color_white !important;
        &:before{
          color: $color_white !important;
        }
      }
    }
  }
  &-centered{
    margin: 0 auto;
    display: table;
  }
  &-centered-full{
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
// CTA BUTTON

@media only screen and (max-width: 1280px) {

  .cta-button{
    padding: 8px 20px;
    font-size: $size_little;
  }
}

@media only screen and (max-width: 768px) {

  .cta-button{
    padding: 8px 20px;
  }
}
