
.container-pre-header{
  font-size: $size_base;
  position:relative;
  color: $color_white;
  border-bottom:  1px solid $color_white;
  .container{
   padding: 10px 0;
   .wpml-ls-legacy-dropdown{
     width: auto;
     max-width: inherit;
     a{
       border: 0;
       background: none;
       display: flex;
       align-items:center;
       color: $color_white;
       img{
         border-radius: 100%;
         width: 18px;
         height: 18px;
       }
     }

   }
  }

 .icons-social{
   a{
     display: inline-block;
     margin: 0 5px;
     color: $text_color;
     img{
       min-height: 20px;
       max-height: 20px;
     }
   }
 }
 .extra-menu-qpc-class{
   margin: 0;
   padding: 0;
   li{
     display: inline-flex;
     align-items: center;
     margin: 0 10px;
     a{
       color: $color_white;
       text-decoration: none;
       font-family: $font_sans_serif_regular;
       font-weight: $font_weight_bold;
       font-size: $size_base;
     }
   }
 }
}


@media only screen and (max-width: 1024px) {

.container-pre-header .container .wpml-ls-legacy-dropdown{
  margin-left: 20px;
}
 .extra-menu-qpc-class li a{
   font-size: $size_base;
 }
}

@media only screen and (max-width: 568px) {

 .container-pre-header .container{

 }
 .extra-menu-qpc-class li a{
   font-size: 10px;
 }

}
