/* ==========================================================================
	Imports
 ========================================================================== */



.acf-range-wrap input[type="range"] { width: 100%;}
.acf-field.acf-field-group.padding { width: 10%; font-weight: bold;}
.acf-field.acf-field-group label, .acf-flexible-content .layout .acf-fc-layout-handle{ font-weight: bold;}
