// Blocco swiper
.swiper-head{
  position: relative;
  width: 100%;
  padding: 0;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .img-head{
    width: 100%;
    height: 100vh;
    background-size: cover !important;
  }
  .wrap-swiper-title{
    position: absolute;
    z-index: 2;
    mix-blend-mode: difference;
    padding: 0;
    margin: 0;
    bottom: -20%;
    span{
      font-size: 78px !important;
      font-weight: 700;
      line-height: 85px;
      color: white;
    }
  }
}

.swiper-home{
  height: 100vh;
  video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}


// General swiper

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
}

.swiper-pagination-bullet {
  &-active{
      background: $color_black;
      border: 2px solid $color_black;
  }
  background: none;
  border: 2px solid $medium_gray-2;
}

.swiper-pagination {
  bottom: auto;
  position: relative;
  margin: 10px 0 30px 0;
  display: block;
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper{
  padding: 30px 0;
}

.swiper1 .swiper-slide {
  display: flex;
  align-items: center;
  background: Black;
}

.swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap-text {
  margin: 0 auto;
}

.parallax-bg {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center;
}

/* ==========================================================================
	Ovveride slider home
 ========================================================================== */

.swiper1 {
  padding: 0;

  .swiper-wrapper {
    padding-bottom: 0;
  }
  .swiper-slide {
    display: block;
    background: $color_white;
    padding: 0;
    .wrap-box {
      position: absolute;
      text-align: center;
      width: 100%;
      .article-title {
        display: block;
        width: 100%;
        a {
          color: $color_white;
        }
      }
      .btnScheda {
        background: $color_white;
      }
    }
  }
  .swiper-pagination1 {
    .swiper-pagination-bullet {
      border: 1px solid $color_white;
      &.swiper-pagination-bullet-active {
        background: $color_white;
      }
    }
  }
}

.cont-swiper-news {
  position: relative;
  display: block;
  .swiper2 {
    padding: 5px;
    .swiper-slide {
      color: $text_color;
      padding: 40px;
      .featured-image{
        img{
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.17);
            transition: all 0.3s ease-in-out 0s;
          &:hover{
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.17);
          }
        }
        .mc-description{
          padding: 30px 0 10px 0;
          text-align: left;
          &-title{
            font-family: $font_sans_serif_bold;
            display: block;
          }
        }
      }
    }
  }

  .swiper-button-next2, .swiper-button-prev2 {

    border-radius: $pagination_buttons $pagination_buttons;
    min-height: $pagination_buttons;
    height: $pagination_buttons;
    width: $pagination_buttons;
    text-align: center;
    font-size: 1.4em;
    vertical-align: middle;
    line-height: ($pagination_buttons * 0.9);
    background: $color_white;
    cursor: pointer;
    position: absolute;
    top: 40%;
  }

  .swiper-button-prev2 {
    left: -40px !important;

    &::before {
      content: "";
      background: url($images_dir + 'arrow-swiper.svg') repeat;
      display: block;
      width: 40px;
      height: 40px;
      background-size: contain;
    }
  }
  .swiper-button-next2 {
    right: -40px !important;

    &::before {
      content: "";
      background: url($images_dir + 'arrow-swiper.svg') repeat;
      display: block;
      width: 40px;
      height: 40px;
      transform: rotate(180deg);
      background-size: contain;
    }
  }

  .swiper-pagination-bullet {
    border: 2px solid $text_color;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background: $text_color;
    }

  }
}

.wrap-text {
  max-width: 55%;
  margin: 0 auto;
  position: relative;
}

.swiper-slide {
  .title {
    line-height: 55px;
    color: $color_white;
    font-family: $font_sans_serif_regular;
  }

}
@media only screen and (max-width: 1366px) {

  .swiper-head .wrap-swiper-title span{
    font-size: 60px !important;
    line-height: 62px;
  }

}
@media only screen and (max-width: 1024px) {

  .swiper-head .wrap-swiper-title span{
    font-size: 48px !important;
    line-height: 50px;
  }

}

@media only screen and (max-width: 768px) {

 .swiper-button-prev,
 .swiper-button-next,
 .swiper-button-prev2,
 .swiper-button-next2 {
  display: none;
 }

}

@media only screen and (max-width: 568px) {

 .swiper-head .wrap-swiper-title span {
   font-size: 34px !important;
   line-height: 34px;
 }

}
